/resources
/public/
/sass/

resources/_gen/assets/scss/sass/main.scss_03034358ef65d5cb57a3d9aa6652dc0a.content
resources/_gen/assets/scss/sass/main.scss_03034358ef65d5cb57a3d9aa6652dc0a.json
resources/_gen/assets/scss/sass/resume.scss_70ec68e9db4b1c6f0f4721ba39f9a9e8.content
resources/_gen/assets/scss/sass/resume.scss_70ec68e9db4b1c6f0f4721ba39f9a9e8.json

.direnv
result
.hugo_build.lock
